<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <title>Agência Dev House</title>
    <header>
        <h1>DH News</h1>
    </header>
    <h5>Postado em 08/07/2021</h5>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae officiis modi iure perferendis minima placeat quidem <strong> ullam odio</strong>, aliquam, ut non nulla animi fuga eveniet ab ipsam harum iusto!</p>

    <img src="/img/destaque.jpg" width="100%"/>

    <h2>rerum velit nam voluptatem porro pariatur alias ad hic!</strong></h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ex, dolore nobis sequi aliquid odio vel quas nesciunt harum quidem nulla sint facilis ea quia deserunt voluptatum perspiciatis atque illum!</p>

    <ol>
        <li>Lorem ipsum dolor sit amet consectetur</li>
        <li>adipisicing elit. Vel dolores labore omnis atque.</li>
        <li>neque sed ipsam ducimus debitis.</li>
    </ol>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ad sed aliquid eveniet itaque quisquam ea dolores sint aut sit inventore ipsam atque corporis veritatis voluptate earum, ex quibusdam. Fugiat?</p>

    <h2>repudiandae consequatur impedit veritatis praesentium facere</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea similique corrupti dolorum repellat eaque ipsam. Facere possimus, adipisci laboriosam molestiae sapiente </p>

    <p>Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Facilis, reprehenderit natus assumenda commodi adipisci tenetur doloremque odio ab eligendi magnam perferendis voluptas excepturi libero, cupiditate impedit aspernatur quibusdam quidem modi?</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam odit aliquam rerum soluta facilis modi fuga ipsa laudantium saepe, ipsum laboriosam accusamus. Quasi, repellat? Vel eveniet blanditiis dignissimos consequatur ullam?</p>

    <footer>
        <ul>
            <li>
                <a href="https://www.facebook.com/">
                    <img class="icon" src="img/facebook.svg"/>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/">
                    <img class="icon" src="img/instagram.svg"/>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/">
                    <img class="icon" src="img/linkedin.svg"/>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/">
                    <img class="icon" src="img/youtube.svg"/>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>