<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <title>Home | Agencia DevHouse</title>
  </head>
  <body>
    <section class="banner">
      <h1><%= titulo %></h1>
      <p>Podemos alavancar seu negocio</p>
      <div class="button-padrao">
        <button id="btnConhecer">Conheça Agora</button>
        <button>Entre em contato</button>
      </div>
      <img src="/img/banner.png" alt="Banner 1" title="banner-1" />
    </section>
    <div id="chat">
      <img src="/img/iconeChat.png" alt="Chat" title="Chat"/>
    </div>
  </body>
</html>