<header>
    <img
      src="/img/logo.png"
      alt="Agencia - devHouse"
      title="Agencia - devHouse"
      id="logo"
    />
    
    <img 
      src="/img/menu-hamburguer.jpg" 
      alt="Menu - Agencia devHouse"
      title="Menu - Agencia devHouse"
      id="menuHamburguer"
    />

    <nav class="menu">
      <a href=""> Home </a>
      <a href=""> Produtos </a>
      <a href=""> Depoimentos </a>
    </nav>
    <div class="atendimento">
      <a href="tel:+1140028922">(11) 4002-8922</a>
      <button>Atendimento</button>
    </div>
  </header>